@media screen and (max-width: 1200px) {
  .buy-n-rent-row {
    border: 1px solid #595858;
  }
}

@media screen and (min-width: 1200px) {
  .buy-n-rent-content {
    border: 1px solid #595858;
    border-right: 0px;
  }
}


.arrow{
  display:inline-block;
  cursor:pointer;
}

.arrow:before{
  content:'';
  height:4px;
  width:20px;
  background-color:#fff;
  display:block;
  float:left;
  position:relative;
  top:9px;
  transition:0.2s ease-in-out;
}

.arrow:after{
  content:'';
  float:left;
  border-left:11px solid #fff;
  border-right:11px solid transparent;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
}

.arrow:hover:before{
  width:60px;
}