
.ad-container::before,
.border-container::after {
  background-image: linear-gradient(90deg, transparent, #d3a188, transparent);
  content: "";
  height: 1px;
  position: absolute;
  width: 90%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.heading {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 23px;
  margin: 15px !important;
  color: #9e9d9d !important;
}

.advertisement-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.advertisement-card {
  margin: 20px;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.card-space {
  margin-left: 10px;
  margin-right: 10px;
}

.ad-image {
  display: flex;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.ad-details {
  font-size: 14px;
  text-align: center;
}

.ad-icons {
  color: rgb(211, 161, 136) !important;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-location {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.card-body {
  border: 0.5px solid #868686;
  border-top: transparent;
  padding: 0px;
  border-bottom: transparent;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}

.textContainer p.selected {
  text-decoration: underline rgb(211, 161, 136) !important;
}
